:root {
  --color-dark: rgb(26, 26, 26);
  --color-white: rgb(255, 255, 255);
  --color-dark-grey: rgb(69, 69, 69);
  --color-lightGrey: rgb(150, 150, 150);
  --color-lightGrey-active: rgb(205, 205, 205);
  --color-bone: rgb(248, 239, 218);
  --card-border: solid 1px var(--color-dark);
}
