.info-card {
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-align: center;
  width: 300px;
  height: 400px;
  border: var(--card-border);
  background: var(--color-bone);
  gap: 10px;
}
