.page__control-panel {
  display: flex;
  gap: 20px;
}

@media (min-width: 651px) {
  .page__control-panel {
    max-width: 620px;
  }
}

@media (max-width: 650px) {
  .page__control-panel {
    flex-direction: column;
    max-width: 300px;
  }
}
