.button {
  margin: 0;
  display: flex;
  cursor: pointer;
  border: 0;
  border-radius: 10px;
  transition: 0.25s;
  justify-content: center;
  padding: 10px 15px;
  font-size: 18px;
  background-color: var(--color-lightGrey);
  color: var(--color-white);
  width: 100%;
}

.button:active {
  background-color: var(--color-lightGrey-active);
}
